.principal {
    color: #000;
    width: var(--widthCardsIntro);
    height: var(--heightCardsIntro);
    padding: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ccc;
    background-image: url("../../assets/img/blue-car.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.principal header {
    display: flex;
    justify-content: space-between;
}

.principal header button {
    height: fit-content;
    border: none;
    background: #0032bd;
    color: #fff;
    border-radius: 1em;
    padding: .4em .8em;
}

.principal .title {
    width: 9em;
    margin: 0;
    font-size: 2em;
    line-height: 1em;
}

.principal p {
    font-size: .9em;
}

.iconBlack {
    width: 2.8em;
}

.principal footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.principal footer p {
    margin: 0;
}

@media (max-width: 1293px) and (min-width: 20px){
    .principal {
        width: 85%;
        height: 12em;
        flex-direction: row;
        background-image: linear-gradient(to bottom, rgba(222, 222, 222, 0.341), rgba(106, 106, 106, 0.341)), url("../../assets/img/blue-car.png");
        background-position: 0%;
    }

    .principal header {
        flex-direction: column;
    }

    .principal footer {
        align-items: flex-start;
        flex-direction: column-reverse;
        justify-content: space-around;
    }   

    .principal .title {
        font-size: 2em;
    }
}


@media (max-width: 820px) {
    .principal {
        width: 90%;
    }

    .principal .title {
        font-size: 1.7em;
    }

    .principal header button {
        width: 10em;
    }
    .principal footer p {
        width: 6em;
    }
}