.principal  {
    display: flex;
    flex-direction: column;
    background: var(--deepSignalBlue);
    padding: 1em;
    border: 40px solid #fff;
    position: relative;
    z-index: 30;
}

hr {
    width: 100%;
    opacity: .4;
}

.header {
    width: 60%;
    height: fit-content;
    opacity: .8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introduction {
    font-size: clamp(1rem, 1.8vw, 9rem);
    min-width: 8em;
    max-width: 16em;
}

.title {
    font-size: clamp(1rem, 2.4vw, 9rem);
    width: 7.6em;
    margin: 0;
}

.innerContainr {
    height: 20em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.description {
    min-width: 8em;
    max-width: 35em;
    font-size: clamp(0.7rem, 1vw, 5rem);
    opacity: .8;
}

.rightColContainr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

@media (max-width: 576px) {
    .header {
        width: 100%;
    }

    .description {
        max-width: 19em;
    }
    
    .principal  {
        border: none;
    }

    .title {
        font-size: clamp(1.2rem, 2.4vw, 9rem);
        width: 80%;
    }

    .innerContainr {
        flex-direction: column;
        align-items: flex-start;
    }
}

