.principal {
    color: var(--phantomBlack);
    background: #fff;
    padding: 8em 2em;
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (max-width: 1024px) { 
        padding: 6em 1em;
    }
}

.subtitleContainr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    @media (max-width: 820px) {
        align-items: start;
        flex-direction: column;
        width: 100%;
    }
}

.sliderContainr {
    display: flex;
    gap: 10px;
    
    width: 60%;
    @media (max-width: 1024px) { 
        flex-direction: column;
        width: 100%;
    }
}

.principal h2 {
    font-size: 3em;
}

.subtitle {
    color: var(--deepGray);
    padding: 32px 0;
}