.principal {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 4em;
    height: fit-content;
}

.description {
    color: var(--deepGray);
    width: 18%;
    margin: 0;
}

.subsContainr {
    margin-top: 32px;
    display: flex;
    gap: 2em;
}

@media (max-width: 820px) {
    .subsContainr {
        width: fit-content;
        flex-direction: column;
    }
    .description {
        width: 70%;
    }

    .principal {
        padding: 4em 4em;
    }
}

@media (max-width: 448px) {
    .principal {
        padding: 4em 1em;
    }
}

