.principal {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 4em;
    height: fit-content;

    @media (max-width: 820px) {
        padding: 4em 2em;
    }

    @media (max-width: 448px) {
        padding: 4em 1em;
    }
}

.description {
    color: var(--deepGray);
    width: calc(vw - 18%);
    margin: 0;

    @media (max-width: 820px) {
        width: 70%;
    }
}

.subsContainr {
    margin-top: 32px;
    display: flex;
    gap: 2em;

    @media (max-width: 820px) {
        width: 100%;
        flex-direction: column;
    }
}