.principal {
    height: 100dvh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 2em;

    @media (max-width: 920px) and (min-width: 20px){ 
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 2em;
    }
}

.title {
    margin: 0;
    color: #fff;
    width: 6.5em;
    font-size: 3.4em;
    line-height: 1em;
    font-weight: inherit;
    padding-left: 1.2em;
    min-width: 6.5em;

    @media (max-width: 920px) and (min-width: 20px){ 
        padding: 0 0 .6em 0;
        padding-left: 0;
    }
}

.scrollContainer {
    display: flex;
    align-items: center;
    min-width: fit-content;

    @media (max-width: 920px) and (min-width: 20px){ 
        display: none;
    }
}

.appContainr {
    margin-left: 4em;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;

    @media (max-width: 920px) and (min-width: 20px){ 
        margin-left: 1em;
    }
}

.titleDownloads {
    font-size: 1.3em;
}

.pScroll {
    margin: 0;
    color: #fff;
    opacity: .6;
}

.mouseIcon {
    display: flex;
    margin: .2em;
}

.mouseIcon svg {
    width: 1.2em;
    height: fit-content;
}

.downloadsContnr {
    display: flex;
    gap: 2em;
    margin: 1em 4em 0 0;
}

.videoBg {
    object-fit: cover;
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
