.principal {
    height: 90vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 2em;
}

.title {
    margin: 0;
    color: #fff;
    width: 6.5em;
    font-size: 3.4em;
    line-height: 1em;
    font-weight: inherit;
    padding-left: 1.2em;
    min-width: 6.5em;
}

.scrollContainer {
    display: flex;
    align-items: center;
    min-width: fit-content;
}

.appContainr {
    margin-left: 4em;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
}

.pScroll {
    margin: 0;
    color: #fff;
    opacity: .6;
}

.mouseIcon {
    display: flex;
    margin: .2em;
}

.mouseIcon svg {
    width: 1.2em;
    height: fit-content;
}

.downloadsContnr {
    display: flex;
    gap: 2em;
    margin: 0 4em 0 0;
}

.videoBg {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@media (max-width: 1570px) and (min-width: 1293px){

}

@media (max-width: 920px) and (min-width: 20px){
    .principal {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 2em;
    }

    .scrollContainer {
        display: none;
    }

    .title {
        padding-left: 0;
    }

    .appContainr {
        margin-left: 1em;
    }
}

