.principal {
    background: #fff;
    padding: 3em;
    height: 50em;
    margin: 0 auto;

    @media (max-width: 560px) {
        width: inherit;
        padding: 0;
    }
}

h3 {
    color: #000;
    font-size: 1.4em;

    @media (max-width: 560px) {
        padding: 2.2em 0 1em 1em;
        margin: 0;
    }
}

.cardContainr {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 1em;
    width: 100%;

    @media (max-width: 560px) {
        width: inherit;
    }

    @media (max-width: 1293px) and (min-width: 20px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        gap: 2em;
    }
}