.principal {
    background: #fff;
    padding: 3em;
    height: 50em;
    margin: 0 auto;
}

h3 {
    color: #000;
    font-size: 1.4em;
}

.cardContainr {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 1em;
    width: 90%;
}

@media (max-width: 1293px) and (min-width: 20px){
    .cardContainr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        gap: 2em;
        width: 90%;
    }
}

@media (max-width: 560px) {
    .principal {
        width: inherit;
        padding: 0;
    }

    .cardContainr {
        width: inherit;
    }

    h3 {
        padding: 2.2em 0 1em 1em;
        margin: 0;
    }
}