.principal {
    background: #fff;
    height: 100em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.featuresContainr {
    margin-top: 4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.firstChild {
    align-self: center;
}

.twoContainr {
    display: flex;
    justify-content: space-between;
    padding: 0 12em;
}

.title {
    display: flex;
    align-self: center;
    color: var(--phantomBlack);
    font-size: clamp(3rem, 9vw, 12rem);
    margin: 0;
    position: sticky;
    z-index: 1;
    top: 50%;
}


@media (min-width: 820px) and (max-width: 1270px) {
    .twoContainr {
        padding: 0 3em;
    }
}

@media (max-width: 820px) {
    .twoContainr {
        padding: 0 1em;
    }

    .principal {
        padding-top: 6em;
    }

    .featuresContainr {
        gap: 4em;
    }

}
