.principal {
    height: fit-content;  
    display: flex;
    flex-direction: column;
    width: 100%;

    /* @media (min-width: 1270px) and (max-width: 1716px) {
        padding-top: 4em;
        height: 90em;
    }

    @media (min-width: 720px) and (max-width: 1270px) {
        height: fit-content;
    } */

    /* @media (max-width: 820px) {
        height: 55em;
    } */
}

.featuresContainr {
    margin-top: 4em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;

    @media (max-width: 820px) {
        gap: 4em;
    }
}

.firstChild {
    align-self: center;
}

.twoContainr {
    display: flex;
    justify-content: space-between;
    padding: 0 12em;

    @media (min-width: 820px) and (max-width: 1270px) {
        padding: 0 3em;
    }

    @media (max-width: 820px) {
        padding: 0 1em;
    }
}

.title {
    display: flex;
    align-self: center;
    color: var(--phantomBlack);
    font-size: clamp(3rem, 9vw, 12rem);
    margin: 0;
    z-index: 1;
}