.header {
    max-height: 6em;
    min-height: 4em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    anchor-name: --header-nav;
    margin: 0;
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(10px);
    background: linear-gradient(to top, rgba(49, 114, 255, 0.418));

    @media (max-width: 1293px) and (min-width: 20px){
        backdrop-filter: none;
        background: var(--mainGradient);
    }
}

.logoySelect {
    display: flex;
    align-items: center;
    gap: 4.6em;

    @media (max-width: 1293px) and (min-width: 20px){
        gap: .1em;
        flex-direction: row;
    }
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 1.6em;
    margin: 1em;

     @media (max-width: 1293px) and (min-width: 20px){
        margin: .4em;
    }

}

.select {
    outline: none;
    border: none;
    padding: .6em;  
    border-radius: .4em;
}

.icon {
    width: 2.2em;
    height: fit-content;
    justify-self: end;
    position: absolute;
    right: 50%;

    @media (max-width: 1536px) {
        display: none;
    }
}

.menu {
    display: none;
    cursor: pointer;

    @media (max-width: 1293px) and (min-width: 20px){
        display: flex;
        width: 2em;
        margin: 0 .8em;
    }
}

.links {
    margin-right: 0;
    font-size: 1em;

    @media (max-width: 1293px) and (min-width: 20px){
        display: flex;
        flex-direction: column;
        transform: translateX(16vw);
        gap: 2em;
        height: 100svh;
        margin-right: 0;
        padding: 8em 0;
        border-top: 2px solid rgb(95, 95, 95);
        border-radius: 0 0 .6em .6em;
        text-align: right;
        background: var(--mainGradient);
    }
}

.links a {
    text-decoration: none;
    color: #fff;
    margin: 0 1.6em;

    @media (max-width: 1293px) and (min-width: 20px){
        text-align: left;
        font-size: 1.6em;
    }
}

.links a:hover {
    color: #19148f;
}

@media (max-width: 1293px) and (min-width: 20px){
    .menu svg {
        width: 100%;
        height: 100%;
    }

    .menuContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        right: 0;
    }

    .bgMenu {
        display: none;
        background: rgba(0, 0, 0, 0.5);
        width: 100svw;
        position-anchor: --header-nav;
        top: anchor(bottom);
        position: fixed;
    }
}
