.principal {
    color: #fff;
    width: var(--widthCardsIntro);
    height: var(--heightCardsIntro);
    padding: 1.2em; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ccc;
    background-image: url("../../assets/img/90_percent.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 1293px) and (min-width: 20px) {
        flex-direction: row-reverse;
        color: #fff;
        width: 100%;
        height: 12em;
        background-image: linear-gradient(to bottom, rgba(115, 122, 164, 0.289), rgba(0, 0, 0, 0.8)), url("../../assets/img/90_percent.png");
        background-position: 0%;
    }

    @media (max-width: 820px) {
        width: 100%;
    }
}

.principal header {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1293px) and (min-width: 20px) {
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.blueSquares {
    width: 6em;
}

.textFooter p {
    display: flex; 
    gap: 2px;
}

.principal header p, .textFooter p {
    font-size: .7em;
    opacity: .6;
    width: 9em;
    margin: 0;
}

.principal hr {
    width: 100%;
    opacity: .4;
    margin: 1.8em 0;

    @media (max-width: 1293px) and (min-width: 20px) {
        opacity: 0;
    }

    @media (max-width: 820px) {
        display: none;
    }
}

.iconWhite {
    width: 2.2em;
    height: fit-content;
}

.principal footer, .textFooter {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @media (max-width: 1293px) and (min-width: 20px) {
        gap: 1.2em;
    }

    @media (max-width: 820px) {
        flex-direction: column;
        align-items: flex-start;
        gap: .8em;
    }
}

.title {
    max-width: 7em;  
    font-size: 2em;
    line-height: 1em;

    @media (max-width: 1293px) and (min-width: 20px) {
        font-size: 2em;
    }

    @media (max-width: 820px) {
        font-size: 1.7em;
    }
}

.title p {
    margin: 0;
    display: flex;
    align-items: center;
}

@media (max-width: 1293px) and (min-width: 20px) {
    .principal .blueSquares {
        display: none;
    }  
}
