.principal {
    max-width: 50%;

    @media (max-width: 1024px) { 
        max-width: 100%;
    }
}

.navigationWrapper {
    position: relative;
    height: fit-content;
}

.slideContainr {
    height: 100%;
    width: 100%;
}

.specialty, .titleUbication {
    position: absolute;
    color: white;
    z-index: 100;
}

.titleUbication {
    bottom: 0;
    text-transform: uppercase;
    width: 400px;
}

[class^="slide"],
[class*=" slide "] {
  display: flex;
  height: 300px;
  /* width: 400px; */
}

.titleUbication, .specialty {
    padding: 10px;
}

.imgSlide {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -20;
    object-fit: cover;  
}

.slideContainr::before {
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.3);
    width: inherit;
    height: 100%;
    z-index: 90;
}

.dots {
    width: 70px;
    display: flex;
    justify-content: flex-end;
    background: white;
    border-radius: 16px;
    padding: 0px 4px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    gap: 2px;
}

.dot {
    color: var(--lightGray);
    font-size: 1em;
    background: none;
    border: none;
    cursor: pointer;
}

.dot::before {
    content: "●";
}

.activeDot::before {
    display: flex;
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='8' stroke-linecap='round' stroke-linejoin='round' ><path d='M5 12h14'/></svg>"); /*━*/
    color: black;
    font-weight: bold;
    rotate: 180deg;
}

.extendedUbication {
    width: 100%;
    font-size: 1em;
    opacity: 1;
}

.footer {
    background: var(--veryLightGray);
    font-weight: bold;
    padding: 20px 20px 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 32px;
    align-items: start;
    /* height: 250px; */
}

.btnReservation {
    display: flex;
    gap: 14px;
    max-width: 120px;
    max-height: 38px;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 20px;
    background: var(--electricTurquoise);
    padding: 6px;
    &::after {
        content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='3' stroke='white'><path stroke-linecap='round' stroke-linejoin='round' d='m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25' /></svg>");
        width: 12px;
        height: 12px;
    }
    & a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
}

.link {
    color: inherit;
}