.principal {
    width: 100%;
    height: 100%;
    @media (max-width: 1024px) { 
        max-width: 100%;
    }
}

.navigationWrapper {
    height: fit-content;
    width: 100%;
    position: relative;
    @media (max-width: 1024px) { 
        max-width: 100%;
    }
}

.specialty, .titleUbication {
    position: absolute;
    color: white;
    z-index: 100;
}

.titleUbication {
    bottom: 0;
    text-transform: uppercase;
    width: 400px;
}

[class*=" slideLocation "] {
  display: flex;
  height: 100%;
  width: fit-content;
  padding: 0;
  font-size: 1em;
}

.titleUbication, .specialty {
    padding: 10px;
}

.imgSlide {
    position: relative;
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.slideContainr::before {
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 400px;
    z-index: 90;
}

.iconOpenWindow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 140;
    margin: 4px;
    color: white;
    cursor: pointer;
}

.extendedUbication, .hours, .link {
    width: 100%;
    font-size: .5em;
    opacity: 1;
}

.footer {
    background: var(--veryLightGray);
    font-weight: bold;
    font-size: 2em;
    padding: 20px 20px 0 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, min(fit-content, 1fr)); 
    gap: 20px;
    align-items: start;
    max-height: 250px;
}

.btnReservation {
    display: flex;
    gap: 14px;
    max-width: 120px;
    max-height: 38px;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 20px;
    background: var(--electricTurquoise);
    padding: 6px;
    &::after {
        content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='3' stroke='white'><path stroke-linecap='round' stroke-linejoin='round' d='m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25' /></svg>");
        width: 12px;
        height: 12px;
    }
    & a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
}

.link {
    color: inherit;
}

.btnReservation, .link {
    margin: 12px 0 22px 0;
}

hr {
    grid-column: span 2;
}