* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  -webkit-tap-highlight-color: transparent;
  scroll-margin-top: 70px;
  scroll-behavior: smooth;
}

#root {
  --widthCardsIntro: 36%;
  --heightCardsIntro: 40em;
  --electricTurquoise: #1a8dff;
  --mainGradient: #5187ff;
  --pureSky: #417bff;
  --cobaltDrive: #3667d8;
  --deepSignalBlue: #0032BD;
  --midnightVelocity: #0025a5;
  --bgGradient: #080818;
  --phantomBlack: #00040c;
  --deepGray: #444546;
  --lightGray: #8c8c8c;
  --veryLightGray: #EFF1F5;
  --offWhite: #eceae8;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-Regular.woff2") format("woff2"),
       url("/fonts/HelveticaNowDisplay-Regular.woff") format("woff");
  font-weight: regular;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-Bold.woff2") format("woff2"),
       url("/fonts/HelveticaNowDisplay-Bold.woff") format("woff");
  font-weight: bold;
}

body {
  font-family: "Helvetica Now Display";
  font-weight: regular;
  margin: 0;
  color: #fff;
  background-color: #292929;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;

  &.centered {
    top: 50%;
  }
}

.arrowLeft {
  left: 5px;

  &.arrowPreview {
    left: 25%;
  }
}

.arrowRight {
  right: 5px;

  &.arrowPreview {
    right: 25%;
  }
}

.arrowDisabled {
  fill: rgba(255, 255, 255, 0.5);
}

@media (max-width: 820px) {
  .arrowLeft.arrowPreview {
    left: 5%;
  }
  .arrowRight.arrowPreview {
    right: 5%;
  }
}