* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

#root {
  --widthCardsIntro: 36%;
  --heightCardsIntro: 40em;
  --electricTurquoise: #1a8dff;
  --mainGradient: #5187ff;
  --pureSky: #417bff;
  --cobaltDrive: #3667d8;
  --deepSignalBlue: #0032BD;
  --midnightVelocity: #0025a5;
  --bgGradient: #080818;
  --phantomBlack: #00040c;
  --deepGray: #444546;
  --lightGray: #8c8c8c;
  --veryLightGray: #EFF1F5;
  --offWhite: #eceae8;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-Regular.woff2") format("woff2"),
       url("/fonts/HelveticaNowDisplay-Regular.woff") format("woff");
  font-weight: regular;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("/fonts/HelveticaNowDisplay-Bold.woff2") format("woff2"),
       url("/fonts/HelveticaNowDisplay-Bold.woff") format("woff");
  font-weight: bold;
}

body {
  font-family: "Helvetica Now Display";
  font-weight: regular;
  margin: 0;
  color: #fff;
  background-color: #292929;
}